{# templates/Homepage.html.twig #}

{% extends "base/base.html.twig" %} {# cette page hérite de la page parent base.html.twig #}
{% block title %}Homepage{% endblock %} {# surcharge le bloc title avec "Homepage" #}
{% block content %} {#  surcharge le block content avec le code spécifique à la Homepage du site #}
    <br/>
    <h1>Homepage</h1>

    <h2>Fidget Spinner's list</h2>
    <div class="container"> {# création d'un conteneur #}
        <div class="row"> {# crée des lignes dans le conteneur #}
    {% for product in products %} {# balaie touts les produits de l'entité fidget passé en paramètre "products" dans le HomepageController #}

                <div class="col-md-4"> {# crée une colonne pour le produit actuel #}
                    <div class="card" style="width: 18rem;">
                        <a href="product/{{ product.id }}"> {# ajoute un lien dans l'image qui renvoie sur la page appropriée #}
                            <img class="card-img-top" src="{{ product.pic }}"> {# ajoute l'image du produit actuel et la place dans la case #}
                        </a>

                        <div class="card-body"> {# crée le corps de la case #}
                            {{ loop.index }} - {# ajoute le numéro du produit dans l'index de l'entité #}
                            <a class="card-title" href="product/{{ product.id }}"> {# crée un lien vers la page produit appropriée #}
                                {{ product.name | capitalize }} {# met la première lettre du produit en majuscule #}
                            </a>
                            <p class="card-text">{{ product.desc }}</p>
                            <a href="product/{{ product.id }}" class="btn btn-primary">Go to product</a>
                        </div>
                    </div>
                </div>

    {% endfor %} {# balise de fin de boucle #}
        </div>
    </div>


{% endblock %} {# balise de fin de surcharge du bloc content #}
