{# templates/Product.html.twig #}
{% extends "base/base.html.twig" %}
{% block title %} Product {{ product_id }}{% endblock %}
{% block content %}
    <h1>Product {{ product_id }}</h1>

    <ul>
        <li>Name: {{ fidget.name }}</li>
        <li>Number of sides: {{ fidget.side }}</li>
        <li>Color: {{ fidget.color }}</li>
        <li>Shape: {{ fidget.shape }}</li>
        <li><img src="{{ fidget.pic }}"></li>
    </ul>

{% endblock %}